/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    color: #121212;
    background: #12121210;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #12121290;
    border-radius: 100vh;
    border: 2px solid #edf2f7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #121212;
  }

  /* hide arrows
 Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Standard */
input[type=number] {
  appearance: textfield !important;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}
