@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    min-height: 100vh;
}

*,
html,
body {
    scroll-behavior: smooth;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.typing-cursor {
    animation: blink 1s step-end infinite;
}